.navbar{
    background: #D1D2D7;
}

#menu li a{
    color: #00A607;
}

body{
    background: url("Images/background.jpg");
}

h1, h3{
    color: black;
    font-weight: 600;
}

#partners div.row div img{
    max-width: 160px;
}

.tutors div ul{
    font-size: 17px;
    list-style-type: none;
}

.tutors div ul li:before{
    content: "— ";
}

.score{
    font-weight: 600;
    color: #00a607;
}