h1, h3{
    color: black;
    font-weight: 600;
}

#partners div.row div img{
    max-width: 160px;
}

.tutors div ul{
    font-size: 17px;
}

#menu li a{
    color: #00a607;
}

.score{
    font-weight: 600;
    color: #00a607;
}